{% extends "geodrapp/base.html" %}
{% block content %}

	<div class="row about-section">

		<div class="about-article">
			<h4>Overview</h4>
			<hr>
			<p>
				Geospatial Development and Research Hub (GeoDR Hub), founded in May 2021, is a limited  liability company,
				legally registered in the Republic of Rwanda according to Article 16 of Law  No.07/2009 of 27/04/2009
				regulating companies in Rwanda. It is a leading geospatial, coding  and research hub that focuses on
				the fundamentals to emerge as one of the most enlightened  companies in offering extensive consultancy
				services, client-based research services as well as  training and capacity building on GIS and remote
				sensing, cartographic programming  languages, land surveying, web design, database management, data science,
				digital and web  mapping and geo-coding. The company provides a full spectrum of geographic information
				systems (GIS) and technology-driven environmental solutions to both public and private  sector clients.
			</P>
			<P>
				Being a client-focused company, the commitment is to provide cost-effective solutions to the  clients,
				continuously looking for the best and latest technological solutions for the  improvement of our environment,
				and to support them from initiation to completion in their  endeavours. GeoDR team is a joint effort of
				highly focused and dedicated professionals with  the experience to lead high-tech teams to perform all services.
				It shares extensive experience  in performing significant tasks in the area of GIS, land surveying,
				environmental studies,  watershed planning, cadastral studies, and so forth.
				The company has 9 co-founding members and about 20 temporary staff including land  surveyors, GIS and
				remote sensing experts, urban planners, environmentalists, enumerators  and surveyors for occasional work.
			</p>
		</div>

		<div class="about-article">
			<h4>Historical background and origin</h4>
			<hr>
			<p>
				Geospatial Development and Research Hub (GeoDR Hub) has officially started operation on  00/00/2021 with 9 co-founding members. The idea to build the Hub was born 2 years after  graduating in Geography and Urban Planning. With a strong ambition to bring into practice  what was learned in the college, we found very limited opportunities to apply this knowledge  to earn money. Both of us wanted to develop our knowledge specifically in the field of  geographic information systems and use it to combat the problems that society faces. Indeed,  many problems need the application of the latest knowledge to address causes and  consequences and provide solutions. Geospatial information technology should be used for  decision-making, as it is exactly what society needs today to achieve sustainable development.
			</p>
			<p>
				Since it was realised that we have this knowledge but limited opportunities to get a  supporting entity to apply it on ground, we thought we would join forces and implement  what we have in mind. We held many discussions and meetings and decided to build a strong  team to provide geospatial technology services. These ideas came to fruition in 2020, but due  to the Covid 19 pandemic, the start of the project was temporarily halted and did not resume  until 2021. However, after a period of ups and downs, various discussions were undertaken  and it was decided to establish a geospatial services company. The dream came true when we  completed the agreement and the company was officially initiated on 00/00/2021 with 9 co founders as mentioned at the beginning of this section. This happened after we came to realise  that the benefits of having our own business in this field outweigh those of finding a job and  will give us satisfaction and success in life for a long time.
			</p>
			<p>
				In summary, we strongly believe that setting up our own business in the field of geospatial  computing will help us advance in our careers and give us lifelong satisfaction rather than  choosing to work for others.
			</p>
		</div>



		<div class="about-article">
			<h4>Name and Motto</h4>
			<hr>
			<p>
				<strong> Name: </strong> GeoDR Hub | Geospatial Development and Research Hub
			</p>
			<p>
				<strong> Motto: </strong>
				<strong> <i> "Putting real life on a map" </i></strong>
				This motto was put in place for the reason that the company is taking real life problems, and  bringing them into the situation then using geospatial technology, as well as cartographic  analysis to address them, tackle their causes, and provide solutions towards achieving  sustainable development. What makes us so special is that we are mapping the life around  the world to bring the solution to the problem to support the development and prosperity of  human being.
			</p>
		</div>


		<div class="about-article">
			<h4>The logo</h4>
			<hr>
			<div class="row">
				<div class="Logo-about col col-md-2">
					<img class="logo-des" src="/static/geodrapp/geodrhub_logo.png" height="100">
				</div>
				<div class="Logo-text col col-md-10">
					<p>
						The logo was designed to represent the complete icon of the company - GeoDR Hub. It  combines all the symbolic elements of the company and their meanings correspond to the  mission and vision. The complete logo means applying geospatial technology in research to  achieve sustainable development, as well as to meet the needs of the community. The entire  concept of the logo is intended to lead to a broader unity within the company and outside.
					</p>
					<a href="{% url 'geodrapp-logo' %}"> Learn more &#8594</a>
				</div>
			</div>
		</div>

		<div class="about-article">
			<h4> Vision, Mission and Values </h4>
			<hr>
			<lu><li><strong>Mission</strong></li></lu>
			<p>
				Promoting sustainable solutions to communities by providing the best services using  geospatial technology from the local to international scale.
			</p>
			<br>
			<lu><li><strong>Mission</strong></li></lu>
			<p>
				Be the leading provider of geospatial services through research, training and consultancy in  the region.
			</p>
			<br>
			<lu><li><strong>Values</strong></li></lu>
			<div class="container-fluid section">
				<div class="row">
					<div class="col-md-12">

						  <table class="table table-sm table-borderless mt-4">
							<tbody>
							 <tr>
								<th class="text-black fnt_black" scope="row">Integrity </th>
								<td>
									<p class="text-dark text-justify"> Conduct all our operations in a transparent, ethical and fair manner in  compliance with the laws of all countries in which we operate in. </p>
								</td>
							 </tr>
							 <tr>
								<th class="text-black fnt_black" scope="row">Respect </th>
								<td>
									<p class="text-dark text-justify"> Ensuring the respect and dignity of individuals by providing everyone  with an equal opportunity to grow without discrimination or  prejudice.  </p>
								</td>
							 </tr>
							 <tr>
								<th class="txt_content txt_black fnt_black" scope="row">Innovation</th>
								<td>
									<p class="text-dark text-justify"> Nurturing and celebrating both entrepreneurship and innovation </p>
								</td>
							 </tr>
							 <tr>
								<th class="txt_content txt_black fnt_black" scope="row">Result driven</th>
								<td>
									<p class="text-dark text-justify"> We always honour our commitments to all stakeholders - employees,  customers and partners  </p>
								</td>
							 </tr>
							<tr>
								<th class="txt_content txt_black fnt_black" scope="row">Excellence</th>
								<td>
									<p class="text-dark text-justify"> Good is not enough, but always strive to perform better </p>
								</td>
							 </tr>
							<tr>
								<th class="txt_content txt_black fnt_black" scope="row">Teamwork</th>
								<td>
									<p class="text-dark text-justify"> Treat others the way you would like to be treated  </p>
								</td>
							 </tr>
							<tr>
								<th class="txt_content txt_black fnt_black" scope="row">Customer focus</th>
								<td>
									<p class="text-dark text-justify"> Stepping into the client's shoes to better understand their perspective  and ensure their satisfaction  </p>
								</td>
							 </tr>
							</tbody>
						  </table>
					</div>
				</div>
			</div>

		</div>


		<div class="about-article">
			<h4>GeoDR Hub's Business Philosophy </h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="about-article">
			<h4> Our Clients </h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="about-article" id="management-team">
			<h4> Management Team </h4>
			<hr>

			<div class="card-group mt-3">
			  	<div class="card">
					<a href="#"> <img src="/static/geodrapp/Ruzindana2.jpg" class="card-img-top" alt="Managing Director"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Ernest RUZINDANA </h5>
					  <p class="card-text text-center"> Managing Director </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/David.jfif" class="card-img-top" alt="President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> David UKWISHAKA </h5>
					  <p class="card-text text-center"> Advisor to the Managing Director </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/yannick.jpeg" class="card-img-top" alt="President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Jean de Dieu IRADUKUNDA </h5>
					  <p class="card-text text-center"> GIS and RS section Lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Emmy.jpg" class="card-img-top" alt="Vice President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Emmanuel UWIRAGIJIMANA </h5>
					  <p class="card-text text-center"> Urban Planning Section Lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/obed2.jpg" class="card-img-top" alt="Senior Program Manager"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Obed BIMENYIMANA </h5>
					  <p class="card-text text-center"> Environment Section Lead </p>
					</div>
			  	</div>
			</div>



			<div class="card-group mt-3">
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Janvier1.jpeg" class="card-img-top" alt="GIS Section Lead"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Janvier HITIMANA </h5>
					  <p class="card-text text-center"> Environment Section Lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
			  	<div class="card">
					<a href="#"> <img src="/static/geodrapp/David.jfif" class="card-img-top" alt="Environmental Section Lead"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> David UKWISHAKA </h5>
					  <p class="card-text text-center"> Climate Change Section Lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/fidele_mwizerwa2.jpg" class="card-img-top" alt="Engineering Section Lead"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Fidele MWIZERWA </h5>
					  <p class="card-text text-center"> Research and Development Section Lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/boaz.jpg" class="card-img-top" alt="Science and Technology Section lead"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Boaz MWUBAHIMANA </h5>
					  <p class="card-text text-center"> Data Science and Machine Learning Section Lead</p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Full-Stack Developer"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> xxx </h5>
					  <p class="card-text text-center"> Engineering Section Lead </p>
					</div>
			  	</div>

			</div>
		</div>

		<div class="about-article" id="management-team">
			<h4> Board Members </h4>
			<hr>

			<div class="card-group mt-3">
			  	<div class="card">
					<a href="#"> <img src="/static/geodrapp/fidele_mwizerwa2.jpg" class="card-img-top" alt="Managing Director"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Fidele MWIZERWA </h5>
					  <p class="card-text text-center"> Chair of the Board </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Emmy.jpg" class="card-img-top" alt="President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Emmanuel UWIRAGIJIMANA </h5>
					  <p class="card-text text-center"> Vice Chair of the Board </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Ruzindana2.jpg" class="card-img-top" alt="Vice President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Ernest RUZINDANA </h5>
					  <p class="card-text text-center"> Secretary of the Board </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/yannick.jpeg" class="card-img-top" alt="Senior Program Manager"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Jean de Dieu IRADUKUNDA </h5>
					  <p class="card-text text-center"> Member of the Board </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Janvier1.jpeg" class="card-img-top" alt="GIS Section Lead"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Janvier HITIMANA </h5>
					  <p class="card-text text-center"> Member of the Board </p>
					</div>
			  	</div>

			</div>

		</div>

	</div>
{% endblock content %}