{% extends "geodrapp/base.html" %}
{% block content %}
<br>
	<div class="row about-section">

		<div class="row">
			<h4>Overview</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>



		<div class="row">
			<h4>Vision</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="row">
			<h4>Mission</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="row">
			<h4>Values</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>


	</div>
{% endblock content %}