{% extends "geodrapp/base.html" %}
{% block content %}
<br>
	<div class="row about-section">

		<div class="about-article">
			<h4>Overview</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>


		<div class="about-article">
			<h4>Historical background and origin</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>



		<div class="about-article">
			<h4>Name and Motto</h4>
			<hr>
			<p>
				<strong> Name: </strong> GeoDR Hub | Geospatial Development and Research Hub
			</p>
			<p>
				<strong> Motto: </strong>
				Putting real life on a map
			</p>
		</div>


		<div class="about-article">
			<h4>Logo</h4>
			<hr>

			<img class="logo-des" src="/static/geodrapp/geodrhub_logo.png" height="100">
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>

			<img class="logo-des" src="/static/geodrapp/geodrhub_logo.png" height="70">
			<p>
				The word <strong>geo</strong>, describes Geospatial - a core area where all the company's operations and activities will be rounded off. As described in the name of the company, geo goes for the process of providing geospatial-based services, and geospatial technology as a core tool on which it will be based to meet people's needs. In other words, geo means location and this indicates that the company will locate objects and phenomena to support various projects - as the motto is “Putting real life on a map”. Therefore, this means that during the logo design, the word geospatial had to take a place and herein we tried to make it short and become geo.
			</p>

			<img class="logo-des" src="/static/geodrapp/geodrhub_logo.png" height="70">
			<p> <strong>DR</strong> is a small abbreviation that stands for Development and Research. Taking only the letter D, which represents Development, is supporting Geo (Geospatial) as a technology that is used for the development of different projects as well as different fields. Development implies taking a small thing to another level by whatever means available.
				The letter R - for Research - also brings a very important area to the company. Research is a broad field that is already being done in all existing areas. In our company, research is to be done in all domains by applying Geospatial Technology. The life of today is to learn and explore new things to achieve sustainable development, but there is always a gap in knowledge. Therefore, research plays a big part in the services we provide by helping to bridge the knowledge gap that our clients need.
			</p>

			<img class="logo-des" src="/static/geodrapp/geodrhub_logo.png" height="70">
			<p>The planet symbol with two satellites moving around it in orbits gives a complete meaning of the earth in space as a place where we belong and operate on. The globe has horizontal and vertical intersecting lines symbolising longitude and latitude, which usually indicate the actual locations of objects or phenomena on Earth.  These two satellites symbolize the exploration of space and give the meaning that our scope is not limited to the earth, but that we should also explore our operations and research in space.
				The symbol of the planet and two satellites also signify a network connection and imply that the latest and automated technology will be applied in the geo-services we provide. This connection indicates the interaction of different spatialities as well as the interaction of different fields in geospatial technology. Therefore, this should be easily completed when  applying geo-automation programming skills to deploy the services.
			</p>

			<img class="logo-des" src="/static/geodrapp/geodrhub_logo.png" height="70">
			<p>
				The arc or semicircle is a symbol of unification. This arch brings together all the meanings of the company into a single collaborative unit. The team operates in peace and unity that creates a good working environment.  It is also a proven sign of unity between the company and clients, partners and investors.
			</p>
		</div>

		<div class="about-article">
			<h4>Vision</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="about-article">
			<h4>Mission</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="about-article">
			<h4>Values</h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="about-article">
			<h4>GeoDR Hub's Business Philosophy </h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="about-article">
			<h4> Our Clients </h4>
			<hr>
			<p>Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
				while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
				online across Rwanda and the rest of the world. GeoDR Hub is legally registered in the Republic of Rwanda
				according to the article 16 of law No. 07/04/2009 governing companies in Rwanda.
				It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
				companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
			</p>
		</div>

		<div class="about-article">
			<h4> Our Management Team </h4>
			<hr>

			<div class="card-group mt-3">
			  	<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Managing Director </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> President </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Vice President </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Senior Program Manager </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Geology Section Lead </p>
					</div>
			  	</div>

			</div>



			<div class="card-group mt-3">
			  	<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Environmental Section Lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Engineering Section Lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Science and Technology Section lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Data Science and Machine Learning Section Lead </p>
					</div>
			  	</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/default.jpg" class="card-img-top" alt="Jonas"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> His/Her name </h5>
					  <p class="card-text text-center"> Full-Stack Developer </p>
					</div>
			  	</div>

			</div>
		</div>

	</div>
{% endblock content %}