{% extends "geodrapp/base.html" %}
{% block content %}


	<div class="row">
		<div class=" col col-md-8 mr-1">
			<h4> Our Stories </h4>
			<hr>
			<br>
			{% for post in posts %}
				<article class="media content-section mt-2">
					<div class="media-body">
						<lu class="list-group border border-secondary mr-5" style="box-shadow: 0 0 25px -3px rgba(0,0,0,0.4);">
							<li class="list-group-item list-group-item-light">
								<div class="article-metadata">
									<a href="{% url 'geodrapp-user_posts' post.author.username %}"><img class="rounded-circle article-img" width="50" height="50" src="{{ post.author.profile.image.url }}" alt=""></a>
									<a class="mr-2 ml-2" href="{% url 'geodrapp-user_posts' post.author.username %}"> &nbsp {{ post.author.first_name }} {{ post.author.last_name }}</a>
									<small class="text-muted"> &nbsp &nbsp | {{ post.date_posted | date:"F d, Y"}} </small>
								</div>
							</li>
							<li class="list-group-item list-group-item-light">
								<div class="blog-title col-md-11 ml-3" style="width:100%;">
									<h4 class="article-title text-dark"> {{ post.title }} </h4>

									<div class="row article-content">
										<div class="col-md-5 mt-2" style="text-align: center;">
										{% if post.image_1 %}
											<img src="{{ post.image_1.url }}" alt="image_1" style="width:100%;">
										{% endif %}
										</div>

										<div class="col-md-7" style="text-align: justify;">
										<p class="article-content text-dark text-justify" style="width: 100%;"> {{ post.content_1|safe|slice:":400" }} ....
											{% if content_1|length > 400 %}
											...
											{% endif %}
										</p>
										</div>
									</div>
								</div>
								<div class="article-metadata border-top" style="text-align: right;">
									<a class="text-right mt-2" href="{% url 'geodrapp-post_detail' post.id %}"> <small>Read more</small>  </a>
								</div>
							</li>
						</lu>
					</div>
					<br>
				</article>
			{% endfor %}

			{% if is_paginated %}

				{% if page_obj.has_previous %}
					<a class="btn btn-outline-secondary mb-4 mt-4" href="?page=1"> First </a>
					<a class="btn btn-outline-secondary mb-4 mt-4" href="?page={{ page_obj.previous_page_number }}"> Previous </a>
				{% endif %}

				{% for num in page_obj.paginator.page_range %}
					{% if page_obj.number == num %}
						<a class="btn btn-secondary mb-4 mt-4" href="?page={{ num }}"> {{ num }} </a>
					{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
						<a class="btn btn-outline-secondary mb-4 mt-4" href="?page={{ num }}"> {{ num }} </a>
					{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
					<a class="btn btn-outline-secondary mb-4 mt-4" href="?page={{ page_obj.next_page_number }}"> Next </a>
					<a class="btn btn-outline-secondary mb-4 mt-4" href="?page={{ page_obj.paginator.num_pages }}"> Last </a>
				{% endif %}

			{% endif %}
		</div>



	<div class="col col-md-4">
		<!-- Sidebar -->
		<br><br><br>
		<div class="" style="padding: 20px;">
<!--		<img src="/static/geodrapp/background.jpg" style="width: 100%;">-->
            <lu>
                <a href="#"><li class="btn btn-outline-secondary" style="width: 100%;">GIS</li></a>
                <br><br>
                <a href="#"><li class="btn btn-outline-secondary" style="width: 100%;">Remote Sensing</li></a>
                <br><br>
                <a href="#"><li class="btn btn-outline-secondary" style="width: 100%;">Land Surveying</li></a>
                <br><br>
                <a href="#"><li class="btn btn-outline-secondary" style="width: 100%;">Data Science</li></a>
                <br><br>
                <a href="#"><li class="btn btn-outline-secondary" style="width: 100%;">Machine Learing</li></a>
                <br><br>
                <a href="#"><li class="btn btn-outline-secondary" style="width: 100%;">Web Mapping</li></a>
                <br><br>
                <a href="#"><li class="btn btn-outline-secondary" style="width: 100%;">Web Development</li></a>
            </lu>
        </div>
	</div>

	
{% endblock content %}