{% extends "geodrapp/base.html" %}
{% block content %}

    <h5> GIS (Geographic Information System) </h5>

    <ul>
        <li>It is a system designed to capture, store, manipulate, analyze, manage and present spatial or geographic data.</li>
        <li>
            GIS can relate the unrelated information using the location as the key index variable.
            It is a powerful and useful tool for monitoring, management and prediction of spatial complex phenomena.
            It is also a support tool to decision making which is more used now.
            In brief, GIS is much more than a map.
        </li>
    </ul>

{% endblock content %}