{% extends "geodrapp/base.html" %}
{% block content %}

        <div class="about-article">
			<h4>The logo</h4>
			<hr>

			<img class="logo-des" src="/static/geodrapp/geodrhub_logo.png" height="100">
			<p class="logo-des-article">
                The logo was designed to represent the complete icon of the company - GeoDR Hub. It  combines all the symbolic elements of the company and their meanings correspond to the  mission and vision. The complete logo means applying geospatial technology in research to  achieve sustainable development, as well as to meet the needs of the community. The entire  concept of the logo is intended to lead to a broader unity within the company and outside.
            </p>

			<img class="logo-des" src="/static/geodrapp/geo-01.jpg" height="70">
			<p class="logo-des-article">
				The word <strong>geo</strong>, describes Geospatial - a core area where all the company's operations and activities will be rounded off. As described in the name of the company, geo goes for the process of providing geospatial-based services, and geospatial technology as a core tool on which it will be based to meet people's needs. In other words, geo means location and this indicates that the company will locate objects and phenomena to support various projects - as the motto is “Putting real life on a map”. Therefore, this means that during the logo design, the word geospatial had to take a place and herein we tried to make it short and become geo.
			</p>

			<img class="logo-des" src="/static/geodrapp/DR-01.jpg" height="70">
			<p class="logo-des-article"> <strong>DR</strong> is a small abbreviation that stands for Development and Research. Taking only the letter D, which represents Development, is supporting Geo (Geospatial) as a technology that is used for the development of different projects as well as different fields. Development implies taking a small thing to another level by whatever means available.
				The letter R - for Research - also brings a very important area to the company. Research is a broad field that is already being done in all existing areas. In our company, research is to be done in all domains by applying Geospatial Technology. The life of today is to learn and explore new things to achieve sustainable development, but there is always a gap in knowledge. Therefore, research plays a big part in the services we provide by helping to bridge the knowledge gap that our clients need.
			</p>

			<img class="logo-des" src="/static/geodrapp/Earth with surrouding networks-01.jpg" height="70">
			<p class="logo-des-article">
                The planet symbol with two satellites moving around it in orbits gives a complete meaning of the earth in space as a place where we belong and operate on. The globe has horizontal and vertical intersecting lines symbolising longitude and latitude, which usually indicate the actual locations of objects or phenomena on Earth.  These two satellites symbolize the exploration of space and give the meaning that our scope is not limited to the earth, but that we should also explore our operations and research in space.
				The symbol of the planet and two satellites also signify a network connection and imply that the latest and automated technology will be applied in the geo-services we provide. This connection indicates the interaction of different spatialities as well as the interaction of different fields in geospatial technology. Therefore, this should be easily completed when  applying geo-automation programming skills to deploy the services.
			</p>

			<img class="logo-des" src="/static/geodrapp/Arc-01.jpg" height="70">
			<p>
				The arc or semicircle is a symbol of unification. This arch brings together all the meanings of the company into a single collaborative unit. The team operates in peace and unity that creates a good working environment.  It is also a proven sign of unity between the company and clients, partners and investors.
			</p>
		</div>

{% endblock content %}