{% extends "geodrapp/base.html" %}
{% block content %}

	<div class="service-gis">
		<h4> 1. GIS services </h4>
		<hr>

		<div class="card-group mt-3">
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Data Collection.png" class="card-img-top" alt="Managing Director"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Data Collection </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Data Manipulation3.png" class="card-img-top" alt="President"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Data Manipulation </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Data Analysis.png" class="card-img-top" alt="Vice President"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Data Analysis </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Data Interpretation.png" class="card-img-top" alt="Full-Stack Developer"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Map Interpretation </h5>
				</div>
			</div>

		</div>
	</div>

	<br><br>
	<div class="service-gis">
		<h4> 2. Remote Sensing </h4>
		<hr>

		<div class="card-group mt-3">
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Data Recording.png" class="card-img-top" alt="Managing Director"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Data Recording </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Data Transmission.jpg" class="card-img-top" alt="President"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Data Transmission </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Processing.jpg" class="card-img-top" alt="Vice President"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Processing and Analysis </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Interpretation.png" class="card-img-top" alt="Full-Stack Developer"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Map Interpretation </h5>
				</div>
			</div>

		</div>
	</div>




	<br><br>
	<div class="service-gis">
		<h4> 3. Web Development </h4>
		<hr>

		<h5> a. Frontend </h5>
		<div class="card-group mt-3">
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/HTML.png" class="card-img-top" alt="Managing Director"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> HTML </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/CSS.png" class="card-img-top" alt="President"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> CSS </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/JS.png" class="card-img-top" alt="Vice President"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> JS </h5>
				</div>
			</div>

			&nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Bootstrap.png" class="card-img-top" alt="Full-Stack Developer"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Bootstrap </h5>
				</div>
			</div>

		</div>

		<br><br>
		<h5> b. Backend and Hosting </h5>
		<div class="card-group mt-3">
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/Python.png" class="card-img-top" alt="Managing Director"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Django Python </h5>
				</div>
			</div>

			&nbsp &nbsp &nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/GitHub.png" class="card-img-top" alt="Managing Director"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> GitHub </h5>
				</div>
			</div>

			&nbsp &nbsp &nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/AWS-EC2.jpg" class="card-img-top" alt="Managing Director"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> AWS: EC2 Instance </h5>
				</div>
			</div>

			&nbsp &nbsp &nbsp &nbsp
			<div class="card">
				<a href="#"> <img src="/static/geodrapp/gunicorn-nginx.png" class="card-img-top" alt="Managing Director"> </a>
				<div class="card-body">
				  <h5 class="card-title text-center"> Gunicorn and Nginx </h5>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}