{% extends "geodrapp/base.html" %}
{% block content %}

	<div class="service-gis">
		<h4> We offer: Training, Research and Consultancy in geoinformatics and adjacent fields applying the latest technologies </h4>
		<hr>
		<p style="text-align: justify;">
			Geospatial Development and Research Hub - GeoDR, is a geospatial based company working across all the fields
			while applying geospatial technology to meet the needs of people. It serves customers on site, as well as
			online across Rwanda and the rest of the world.
			It's an established geospatial, coding and research hub focusing on core principles to emerge as one of the most enlightened
			companies in offering extensive services. GeoDR Hub, provides a complete spectrum of Geographic Information System (GIS) and technology driven environmental solutions to both clients from the public and private sectors.
		</p>

		<ul>
			<li> <strong> Training:</strong> GIS, Remote sensing, Web mapping, Geocoding, Maching Learning, Land Surveying, Data Science, web Development </li>
			<li> <strong> Research:</strong> GIS, Remote sensing, Web mapping, Geocoding, Maching Learning, Land Surveying, Data Science, web Development </li>
			<li> <strong> Consultancy:</strong> GIS, Remote sensing, Web mapping, Geocoding, Maching Learning, Land Surveying, Data Science, web Development </li>
		</ul>



		<br><br>
		<h4> I. Training </h4>
		<hr>

		<div style="background-color: #808B96; padding: 20px;">
			<h5 class="text-white"> a. GIS (Geographic Information System) </h5>

			<div class="card-group mt-3">
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Data Collection.png" class="card-img-top" alt="Managing Director"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Data Collection </h5>
					</div>
				</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Data Manipulation3.png" class="card-img-top" alt="President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Data Manipulation </h5>
					</div>
				</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Data Analysis.png" class="card-img-top" alt="Vice President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Data Analysis </h5>
					</div>
				</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Data Interpretation.png" class="card-img-top" alt="Full-Stack Developer"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Map Interpretation </h5>
					</div>
				</div>
				</div>

				<br>
				<a href="{% url 'geodrapp-gis' %}"> Learn more &#8594</a>



				<br><br>

				<hr>
			 	<h5 class="text-white"> b. Remote Sensing </h5>
				<div class="card-group mt-3">
					<div class="card">
						<a href="#"> <img src="/static/geodrapp/Data Recording.png" class="card-img-top" alt="Managing Director"> </a>
						<div class="card-body">
						  <h5 class="card-title text-center"> Data Recording </h5>
						</div>
					</div>

					&nbsp &nbsp
					<div class="card">
						<a href="#"> <img src="/static/geodrapp/Data Transmission.jpg" class="card-img-top" alt="President"> </a>
						<div class="card-body">
						  <h5 class="card-title text-center"> Data Transmission </h5>
						</div>
					</div>

					&nbsp &nbsp
					<div class="card">
						<a href="#"> <img src="/static/geodrapp/Processing.jpg" class="card-img-top" alt="Vice President"> </a>
						<div class="card-body">
						  <h5 class="card-title text-center"> Processing and Analysis </h5>
						</div>
					</div>

					&nbsp &nbsp
					<div class="card">
						<a href="#"> <img src="/static/geodrapp/Interpretation.png" class="card-img-top" alt="Full-Stack Developer"> </a>
						<div class="card-body">
						  <h5 class="card-title text-center"> Map Interpretation </h5>
						</div>
					</div>

				</div>
				<br>
				<a href="#"> Learn more &#8594</a>



				<br><br>
				<hr>
				<h5 class="text-white"> C. Web Development </h5>

				<lu>
					<li><strong class="text-white">Frontend </strong></li>
					<div class="card-group mt-3">
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/HTML.png" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> HTML </h5>
							</div>
						</div>

						&nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/CSS.png" class="card-img-top" alt="President"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> CSS </h5>
							</div>
						</div>

						&nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/JS.png" class="card-img-top" alt="Vice President"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> JS </h5>
							</div>
						</div>

						&nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/Bootstrap.png" class="card-img-top" alt="Full-Stack Developer"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> Bootstrap </h5>
							</div>
						</div>

					</div>

					<br><br>
					<li><strong class="text-white"> Backend and Hosting </strong></li>
					<div class="card-group mt-3">
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/Python.png" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> Django Python </h5>
							</div>
						</div>

						&nbsp &nbsp &nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/GitHub.png" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> GitHub </h5>
							</div>
						</div>

						&nbsp &nbsp &nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/AWS-EC2.jpg" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> AWS: EC2 Instance </h5>
							</div>
						</div>

						&nbsp &nbsp &nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/gunicorn-nginx.png" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> Gunicorn and Nginx </h5>
							</div>
						</div>
					</div>
				</lu>
				<br>
				<a href="#"> Learn more &#8594</a>
			</div>
		</div>
	</div>

{% endblock content %}