{% extends "geodrapp/base.html" %}
{% block content %}


	<div class="service-gis" style="padding: 20px;">
		<h4> Training, Research and Consultancy </h4>
		<hr>
		<p style="text-align: justify;">
			Geospatial Development and Research Hub offers comprehensive services and operations in  three main segments, namely training, research and consultancy centred on geospatial  technology as a core business tool. In training, research and consulting, the company  implements and builds up its services in GIS, Remote Sensing, Web mapping, Geocoding,  Maching Learning, Surveying, Data science, Web development.
		</p>

		<ul>
			<li> <strong> Training:</strong> GIS, Remote sensing, Web mapping, Geocoding, Maching Learning, Land Surveying, Data Science, web Development </li>
			<p>Training will be based on the development of programs and applications on Esri products  (ArcGIS Desktop, ArcGIS online, ArcIMS, ArcView, Collector, Survey 123, ArcGIS pro),  programming languages (Python, Java script, R, and C++), open source software (QGIS,  JOSM, and others), surveying, web design, database management, data science, digital and  web mapping, geocoding, use of GPS. </p>

			<li> <strong> Research:</strong> GIS, Remote sensing, Web mapping, Geocoding, Maching Learning, Land Surveying, Data Science, web Development </li>
			<p>Research in GeoDR Hub is conducted on behalf of the company itself and or on behalf of clients, partners or the community where geospatial technology is applied to meet the desired  outcome. Like training, research activities in GeoDR Hub cover the disciplines of GIS, Remote  Sensing, Web mapping, Geocoding, Maching Learning, Surveying, Data science, Web  development. </p>

			<li> <strong> Consultancy:</strong> GIS, Remote sensing, Web mapping, Geocoding, Maching Learning, Land Surveying, Data Science, web Development </li>
			<p>The consultancy service will cover GIS and Remote Sensing, master plan development,  research, land use mapping, agricultural, cadastral maps, topographic surveys,  environmental and social impact assessment (ESIA), resettlement action plan, spatial data  collection (GPS data collection, drone, Lidar survey, etc.), data collection (survey), climate  change mitigation and adaptation. </p>

			<li> <strong> Research grant application </strong> GIS, Remote sensing, Web mapping, Geocoding, Maching Learning, Land Surveying, Data Science, web Development </li>
			<p>Doing research is all about profit, money or other forms of satisfaction. Being able to perform  well and conduct effective research, we apply for different opportunities to get sponsorship  so as to carry out the research. Research will not be limited to any one field, every possible  opportunity can be exploited.</p>

		</ul>



		<br><br>
		<h4> I. Training </h4>
		<hr>

		<div>
			<h5 class="text-white"> a. GIS (Geographic Information System) </h5>

			<div class="card-group mt-3">
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Data Collection.png" class="card-img-top" alt="Managing Director"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Data Collection </h5>
					</div>
				</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Data Manipulation3.png" class="card-img-top" alt="President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Data Manipulation </h5>
					</div>
				</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Data Analysis.png" class="card-img-top" alt="Vice President"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Data Analysis </h5>
					</div>
				</div>

				&nbsp &nbsp
				<div class="card">
					<a href="#"> <img src="/static/geodrapp/Data Interpretation.png" class="card-img-top" alt="Full-Stack Developer"> </a>
					<div class="card-body">
					  <h5 class="card-title text-center"> Map Interpretation </h5>
					</div>
				</div>
				</div>

				<br>
				<a href="{% url 'geodrapp-gis' %}"> Learn more &#8594</a>



				<br><br>

				<hr>
			 	<h5 class="text-white"> b. Remote Sensing </h5>
				<div class="card-group mt-3">
					<div class="card">
						<a href="#"> <img src="/static/geodrapp/Data Recording.png" class="card-img-top" alt="Managing Director"> </a>
						<div class="card-body">
						  <h5 class="card-title text-center"> Data Recording </h5>
						</div>
					</div>

					&nbsp &nbsp
					<div class="card">
						<a href="#"> <img src="/static/geodrapp/Data Transmission.jpg" class="card-img-top" alt="President"> </a>
						<div class="card-body">
						  <h5 class="card-title text-center"> Data Transmission </h5>
						</div>
					</div>

					&nbsp &nbsp
					<div class="card">
						<a href="#"> <img src="/static/geodrapp/Processing.jpg" class="card-img-top" alt="Vice President"> </a>
						<div class="card-body">
						  <h5 class="card-title text-center"> Processing and Analysis </h5>
						</div>
					</div>

					&nbsp &nbsp
					<div class="card">
						<a href="#"> <img src="/static/geodrapp/Interpretation.png" class="card-img-top" alt="Full-Stack Developer"> </a>
						<div class="card-body">
						  <h5 class="card-title text-center"> Map Interpretation </h5>
						</div>
					</div>

				</div>
				<br>
				<a href="#"> Learn more &#8594</a>



				<br><br>
				<hr>
				<h5 class="text-white"> C. Web Development </h5>

				<lu>
					<li><strong class="text-white">Frontend </strong></li>
					<div class="card-group mt-3">
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/HTML.png" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> HTML </h5>
							</div>
						</div>

						&nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/CSS.png" class="card-img-top" alt="President"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> CSS </h5>
							</div>
						</div>

						&nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/JS.png" class="card-img-top" alt="Vice President"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> JS </h5>
							</div>
						</div>

						&nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/Bootstrap.png" class="card-img-top" alt="Full-Stack Developer"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> Bootstrap </h5>
							</div>
						</div>

					</div>

					<br><br>
					<li><strong class="text-white"> Backend and Hosting </strong></li>
					<div class="card-group mt-3">
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/Python.png" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> Django Python </h5>
							</div>
						</div>

						&nbsp &nbsp &nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/GitHub.png" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> GitHub </h5>
							</div>
						</div>

						&nbsp &nbsp &nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/AWS-EC2.jpg" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> AWS: EC2 Instance </h5>
							</div>
						</div>

						&nbsp &nbsp &nbsp &nbsp
						<div class="card">
							<a href="#"> <img src="/static/geodrapp/gunicorn-nginx.png" class="card-img-top" alt="Managing Director"> </a>
							<div class="card-body">
							  <h5 class="card-title text-center"> Gunicorn and Nginx </h5>
							</div>
						</div>
					</div>
				</lu>
				<br>
				<a href="#"> Learn more &#8594</a>
			</div>
		</div>
	</div>

{% endblock content %}